#astrology-settings-form input[type="text"],
#astrology-settings-form input[type="password"],
#astrology-settings-form select {
	width: 25rem;
}

#astrology-settings-form input[type="submit"] {
	width: 10em;
	font-size: 1.2em;
}

#astrology-settings-form .modified:invalid,
#astrology-settings-form .modified:invalid {
	border-color: red;
}
